@tailwind base;
@tailwind components;
@tailwind utilities;


* {box-sizing: border-box }

.bg-auth-page {
    background-image: url(./assets/bg1-auth-page.png);
    background-position: center;
    background-size: cover;
}